<div class="col-lg-4 col-md-4 col-sm-6">
  <div class="contact__widget">
    <div class="contact__widget__icon">
      <i class="fa fa-map-marker"></i>
    </div>
    <div class="contact__widget__text">
      <h5>Adres</h5>
      <p> {{ site.address }} </p>
    </div>
  </div>
</div>
<div class="col-lg-4 col-md-4 col-sm-6">
  <div class="contact__widget">
    <div class="contact__widget__icon">
      <i class="fa fa-phone"></i>
    </div>
    <div class="contact__widget__text">
      <h5>Telefon</h5>
      <p> {{ site.phone }}</p>
    </div>
  </div>
</div>
<div class="col-lg-4 col-md-4 col-sm-6">
  <div class="contact__widget">
    <div class="contact__widget__icon">
      <i class="fa fa-envelope"></i>
    </div>
    <div class="contact__widget__text">
      <h5>Eposta</h5>
      <p>{{ site.email }} </p>
    </div>
  </div>
</div>