<!-- Footer Section Begin -->
<img class="w-100" src="/assets/img/footertopbanner.png">

<footer class="footer">
    <div class="footer__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="footer__logo">
                        <a href="#"><img src="/assets/img/footer-logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8">
                    <div class="footer__newslatter">
                        <button type="submit" onclick="location.href='{{ site.ref }}'" class="site-btn">Ücretsİz Üye
                            Ol</button>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-whatsapp"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h5>Kazandıran Marketim</h5>
                    <p>Kazançlı marketing gıda,kozmetik ürünlerini alırken ve satarken kazanabileceğiniz bir
                        networking sistemidir. Kazançlı marketing ile temel ihtiyaçlarınızı daha ucuza alın ve
                        satarken de gelir elde edin.</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h5>Sayfalar</h5>
                    <ul>
                        <li><a href="#">Anasayfa</a></li>
                        <li><a href="#">Hakkımızda</a></li>
                        <li><a href="#">Ürünler</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">İletişim</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__address">
                    <h5>İletişim</h5>
                    <ul>
                        <li><i class="fa fa-map-marker"></i> {{ site.address }}</li>
                        <li><i class="fa fa-phone"></i> {{ site.phone }}</li>
                        <li><i class="fa fa-envelope"></i> {{ site.email }}</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-6">
                <div class="footer__map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6023.934097718813!2d29.20969012676591!3d40.98220236721347!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0:0x30545b1bb8eb8840!2sBest Otomasyon!5e0!3m2!1str!2str!4v1592906996820!5m2!1str!2str"
                        height="190" style="border:0" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="footer__copyright">
            <div class="container">
                <div class="row"> -->
    <!-- <div class="col-lg-7"> -->
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    <!-- <div class="footer__copyright__text">
                            <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                        </div> -->
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    <!-- </div> -->
    <!-- <div class="col-lg-5">
                        <ul>
                            <li>All Rights Reserved</li>
                            <li>Terms & Use</li>
                            <li>Privacy Policy</li>
                        </ul>
                    </div> -->
    <!-- </div>
            </div>
        </div> -->
</footer>
<!-- Footer Section End -->