<form action="https://formsubmit.co/kazandiranmarkett@gmail.com" method="POST">
    <input type="text" name="isim" placeholder="İsim" required>
    <input type="text" name="soyisim" placeholder="Soyisim" required>
    <input type="tel" name="telefon" placeholder="Telefon numarası" required>
    <input type="email" name="eposta" placeholder="E-posta" required>
    <textarea name="mesaj" rows="3" placeholder="Mesajınız"></textarea>
    <input type="hidden" name="_captcha" value="false">
    <input type="hidden" name="_next" value="{{ site.url }}/thanks.html">
    <input type="hidden" name="_template" value="table">
    <!-- <div class="datepicker__item"> -->
    <!--     <input type="text" placeholder="Date" class="datepicker"> -->
    <!--     <i class="fa fa-calendar"></i> -->
    <!-- </div> -->
    <!-- <select> -->
    <!--     <option value="">Type of service</option> -->
    <!--     <option value="">Advanced equipment</option> -->
    <!--     <option value="">Qualified doctors</option> -->
    <!--     <option value="">Certified services</option> -->
    <!--     <option value="">Emergency care</option> -->
    <!-- </select> -->
    <button type="submit" class="site-btn">GÖnder</button>
</form>