<!DOCTYPE html>
<html lang="tr">

{%- include head.html -%}

<body>

    {%- include offcanvas-menu.html -%}
    {%- include header.html -%}

    <!-- Hero Section Begin -->
    <section class="hero spad set-bg" data-setbg="/assets/img/hero-bg.png">
        <div class="container">
            <div class="row justify-content-md-end">
                <div class="col-lg-6">
                    <div class="hero__text ">
                        <span>Üye olun, yaptığınız her alt üye için</span>
                        <h2>Prim kazanın, üyeliğinizi katlayın!</h2>
                        <a href="#" class="primary-btn normal-btn go-to-form">Ücretsİz Üye ol</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Consultation Section Begin -->
    <section class="consultation">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="consultation__form come-here-form">
                        <div class="section-title">
                            <span>Hemen üye olun!</span>
                            <h2>Ücretsiz Üyelik Formu</h2>
                        </div>
                        {%- include form.html -%}
                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="consultation__text">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="consultation__text__item">
                                    <div class="section-title">
                                        <span>Üyelik</span>
                                        <h3>Türkiye'nin İlk ve Tek <b>Prim Kazandıran</b> Süpermarketi</h3>
                                    </div>
                                    <p>Kazançlı marketing ailesinin bir üyesi olmaya ne dersiniz? Sizler de gıda alırken
                                        ve satarken kazanmak
                                        için üyelik formunu doldurun, biz sizi arayalım!</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="consultation__video set-bg" data-setbg="/assets/img/phone-welcome.jpg">
                                    <!-- <a href="https://www.youtube.com/watch?v=PXsuI67s2AA" class="play-btn video-popup"><i class="fa fa-play"></i></a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Consultation Section End -->

    <!-- Chooseus Section Begin -->
    <section class="chooseus spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <h2>Kendi işinizi Kurun</h2>
                        <div class="mx-5">
                            <span>Kazançlı Marketing, ürünlerinizi alırken kazanacağınız, kullanırken tasarruf
                                edebileceğiniz,
                                satarken kazanç elde edeceğiniz, ekibinizle birlikte organizasyon kurup daha çok
                                kazanabileceğiniz,
                                her şeyden önemlisi kendinizi geliştirebileceğiniz harika bir iş fırsatı sunuyor.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="chooseus__item">
                        <i class="fa fa-lira-sign"></i>
                        <h5>Ek Gelir</h5>
                        <p>Her alt üyenizin siparişleri üzerinden ek gelir kazanabilirsiniz.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="chooseus__item">
                        <i class="far fa-user"></i>
                        <h5>Ücretsiz Üyelik</h5>
                        <p>Kazançlı marketim sistemine ücretsiz bir şekilde üye olabilirsiniz.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="chooseus__item">
                        <i class="fas fa-wallet"></i>
                        <h5>Tasarruflu</h5>
                        <p>Ev ve mutfak ihtiyaçlarınızı daha uygun fiyatlarla ve aynı gün kargo ile satın alabilirsiniz.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="chooseus__item">
                        <i class="fas fa-file-invoice-dollar"></i>
                        <h5>Aidat Yok</h5>
                        <p>Kazançlı marketim sisteminde hiçbir şekilde aidat yoktur ve olmayacaktır.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Chooseus Section End -->

    <!-- Services Section Begin -->
    <section class="services spad set-bg" data-setbg="/assets/img/services-bg.png">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-6">
                    <div class="section-title">
                        <span>Neden biz?</span>
                        <h2>Hizmetlerimiz</h2>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="services__btn">
                        <a href="https://kazandiranmarketim.com/urunler" target="_blank" class="primary-btn">Ürün
                            Lİstesİ</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="services__item">
                        <div class="services__item__icon">
                            <i class="fas fa-shipping-fast"></i>
                        </div>
                        <div class="services__item__text">
                            <h5>Ücretsiz Teslimat</h5>
                            <p>150 TL üzeri siparişlerde kargo ücretsiz
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="services__item">
                        <div class="services__item__icon">
                            <i class="fas fa-percent"></i>
                        </div>
                        <div class="services__item__text">
                            <h5>İndirimli Fiyatlar</h5>
                            <p>Her güne özel süper indirimli kampanyalar
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="services__item">
                        <div class="services__item__icon">
                            <i class="fas fa-shopping-basket"></i>
                        </div>
                        <div class="services__item__text">
                            <h5>Hızlı Alışveriş</h5>
                            <p>Dilediğiniz her yerden, mobil veya web, hızlıca alışveriş yapın
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="services__item">
                        <div class="services__item__icon">
                            <i class="far fa-handshake"></i>
                        </div>
                        <div class="services__item__text">
                            <h5>Kolay İade</h5>
                            <p>14 gün içerisinde <b>ücretsiz</b> ve kolayca
                                iade
                                edebilirsiniz
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Section End -->

    <!-- Team Section Begin -->
    <section class="team spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <h2>Kazanç Sistemi</h2>
                        <div class="mx-5">
                            <span>
                                1'den 3'e kadar kazanç periyodunu oluşturan sistemimiz ile evinizden oldukça rahat bir
                                şekilde kazanç elde edebilir, daha fazla gayret ile ana gelirinizi elde
                                edebilirsiniz.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="team__item">
                        <!-- <img src="img/team/team-1.jpg" alt=""> -->
                        <div class="team__icon">
                            <i class="fa fa-user"></i>
                        </div>
                        <h5>Bronz</h5>
                        <span>Alınan primler baz alındığında 2000₺ prim kazanan bronz lider, 6000₺ prim kazanan bronz
                            müdür, 15.000₺ prim kazanan bronz direktör, 40.000₺ prim kazanan bronz koordinatör ünvanı
                            alacaktır. Her üye ünvan alışında, o ünvana ilk eriştiği ay şirketten extra %25 Ünvan primi
                            alacaktır.</span>
                        <hr>
                        <!-- <div class="team__item__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="team__item">
                        <div class="team__icon">
                            <i class="fa fa-user-friends"></i>
                        </div>
                        <h5>Gümüş</h5>
                        <span>
                            Alınan primler baz alındığında 3000₺ prim kazanan gümüş lider, 7000₺ prim kazanan gümüş
                            müdür,
                            20.000₺ prim kazanan gümüş direktör, 50.000₺ prim kazanan gümüş koordinatör ünvanı
                            alacaktır.
                            Her üye ünvan alışında, o ünvana ilk eriştiği ay şirketten extra %25 Ünvan primi
                            alacaktır.
                        </span>
                        <hr>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="team__item">
                        <div class="team__icon">
                            <i class="fa fa-users"></i>
                        </div>
                        <h5>Altın</h5>
                        <span> Alınan primler baz alındığında 4000₺ prim kazanan altın lider, 8000₺ prim kazanan
                            altın
                            müdür,
                            25.000₺ prim kazanan altın direktör, 60.000₺ prim kazanan altın koordinatör ünvanı
                            alacaktır.
                            Her üye ünvan alışında, o ünvana ilk eriştiği ay şirketten extra %25 Ünvan primi
                            alacaktır.
                        </span>
                        <hr>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team Section End -->

    <!-- Gallery Begin -->
    <div class="gallery">
        <div class="row gallery justify-content-center">
            <img class="col-lg-1 col-md-4 col-4" src="/assets/img/gallery/gallery-1.jpg"> </img>
            <img class="col-lg-1 col-md-4 col-4" src="/assets/img/gallery/gallery-2.jpg"> </img>
            <img class="col-lg-1 col-md-4 col-4" src="/assets/img/gallery/gallery-3.jpg"> </img>
            <img class="col-lg-1 col-md-4 col-4" src="/assets/img/gallery/gallery-4.jpg"> </img>
            <img class="col-lg-1 col-md-4 col-4" src="/assets/img/gallery/gallery-5.jpg"> </img>
            <img class="col-lg-1 col-md-4 col-4" src="/assets/img/gallery/gallery-6.jpg"> </img>
            <img class="col-lg-1 col-md-4 col-4" src="/assets/img/gallery/gallery-7.jpg"> </img>
            <img class="col-lg-1 col-md-4 col-4" src="/assets/img/gallery/gallery-8.png"> </img>
            <img class="col-lg-1 col-md-4 col-4" src="/assets/img/gallery/gallery-9.png"> </img>
            <img class="col-lg-1 col-md-4 col-4" src="/assets/img/gallery/gallery-10.png"> </img>
            <img class="col-lg-1 col-md-4 col-4" src="/assets/img/gallery/gallery-11.png"> </img>
        </div>
    </div>
    <!-- Gallery End -->

    <!-- Latest News Begin -->
    <section class="latest spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-6">
                    <div class="section-title">
                        <span>Blog</span>
                        <h2>Bilgi Bankası</h2>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="latest__btn">
                        <a href="/blog.html" class="primary-btn">Tümünü Gör</a>
                    </div>
                </div>
            </div>
            <div class="row">


                {%- include recent-posts-home.html -%}

                <!-- <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="latest__item">
                        <h5><a href="#">Kazandıran Marketim Prim Sistemi</a></h5>
                        <p>Yeni nesil internet süpermarkete hoşgeldiniz. Klasik e-ticaret ile networking marketingi
                            birleştiren ve bu alanda bir ilk olan </p>
                        <ul>
                            <li><img src="/assets/img/blog/blog-author.png" alt=""> kazandiranmarketim</li>
                            <li>Dec 06, 2019</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="latest__item">
                        <h5><a href="#">Kazanç Sistemi Hakkında</a></h5>
                        <p>Kazançlı marketim sistemi, ev-mutfak harcamalarınızı daha uygun fiyatlarla yapabileceğiniz,
                            aynı gün kargo ile ürünlerinizi sipariş edebileceğiz ve çevrenizdeki </p>
                        <ul>
                            <li><img src="/assets/img/blog/blog-author.png" alt=""> kazandiranmarketim</li>
                            <li>Dec 06, 2019</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="latest__item">
                        <h5><a href="#">Yaz aylarında hangi sebzeler yenir?</a></h5>
                        <p>
                            Bir sebzeyi yani besini mevsiminde tüketmek son derece önemlidir. Yazın tüketilmesi gereken
                            gıdaları yazın kışın tüketilmesi gereken gıdaları
                        </p>
                        <ul>
                            <li><img src="/assets/img/blog/blog-author.png" alt=""> kazandiranmarketim</li>
                            <li>Dec 06, 2019</li>
                        </ul>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
    <!-- Latest News End -->

    {%- include footer.html -%}

    {%- include js-plugins.html -%}

</body>

</html>